--upgrade asciinema
--upgrade beautifulsoup4
--upgrade bs4
--upgrade Cython
--upgrade Django
--upgrade facebook-sdk
--upgrade gitdb
--upgrade gitdb2
--upgrade GitPython
--upgrade ipython
--upgrade Jinja2
--upgrade Mako
--upgrade Markdown
--upgrade MarkupSafe
--upgrade nltk
--upgrade numpy
--upgrade packaging
--upgrade pyftpdlib
--upgrade PyGithub
--upgrade pylint
--upgrade pyOpenSSL
--upgrade PySocks
--upgrade requests
--upgrade scipy
--upgrade Scrapy
--upgrade six
--upgrade SQLAlchemy
--upgrade urllib3
--upgrade virtualenv
--upgrade w3lib
--upgrade youtube-dl
